<h2> 
	<%= "The top #{ pluralize(@popular.size, 'restaurant') }" %>
</h2> 


<table id="mytable" cellspacing="0" summary="Popular Restaurants">
  <tr>
	<th scope="col" abbr="Votes">Votes</th>
    <th scope="col" abbr="Name">Name</th>
    <th scope="col" abbr="Description">Description</th>
    <th scope="col" abbr="Neighborhood">Neighborhood</th>
    <th scope="col" abbr="Link">Link</th>
  </tr>
<%= render :partial => 'restaurant', :collection => @popular %>
</table>

<br />

<%= link_to 'Submit a restaurant', new_restaurant_path %> | 
<%= link_to 'Top restaurants', '/restaurants/popular' %>